body{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
#fnav{
    height: 2.6rem;
}

.navbar .nav-link,
.btn1{
    font-weight: 600;
    font-size: 0.9375rem;
}
.span span{
    font-weight: 600;
    font-size: 0.9375rem;
}
#nave .nav-link{
    font-size: 0.8375rem;
    text-transform: capitalize;

}
#nave .navbar-toggler:focus{
    outline: none;
    border: unset;
    box-shadow: none;
}
#nave .nav-item:hover{
    text-decoration: 5px underline solid rgb(221, 221, 16);
    
}
.top-banner{
    width: 100%;
    background: url('../image/green-abstract-geometric-background-with-a-rectangular-pattern-suitable-for-website-design-posters-and-banners-vector.jpg') no-repeat center;
    background-size: cover;
    padding: 16.875rem 0 9.375rem;
}
#text{
    text-align: center;
    justify-content: center;

    position: absolute;
top: 230px;
left: 350px;

}
#text h1{
    color: white;
    padding: auto;
    font-size: 3.5rem;
    font-weight: bolder;
}
#text p{
    color: white;
    padding: auto;
    font-size: 1rem;
}
.btn2{
    padding: 10px 14px;
}
#advantages h1, p{
    text-align: center;
    justify-content: center;
    padding-top: 9px;
}
.card{
    border: none;
}
.card img{
    justify-content: center;
    
border-radius: 60px;
background-color: rgb(224, 213, 213);
margin:10px 100px;
    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: column;
}
.cards{
    text-align: center;
    justify-content: center;
    display: flex;
    border: none;
}

.card-body h5{
    font-size: 0.91rem;
}
.card-body p{
    font-size: 0.5rem;
}
#about{
    width: 100%;
    background: url('../image/pngtree-simple-business-office-document-picture-image_934916.jpg') center;
    background-size: cover;
    padding: 2rem 0 2rem;
}
.about h1{
padding: auto;
text-align: center;
}
.about1{
    width: 600px;
    font-size: 0.9rem;
    margin: 5px;
}
.services{
    text-align: center;
    padding: auto;
}
.crds2{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    
    
}
.crds2 .card{

    justify-content: center;
    margin: auto;
    background-color: rgb(224, 213, 213);

}
.star{
    width: 25px;
    height: 25px;
    border-radius: 80px;
    background-color: orange;
    position: relative;
    margin: auto;
}
#protfolio{
    height: 650px;
    background-color: black;
}
.protf{
    text-align: center;
    margin: 50px 30px;
    padding: 5px 10px;
}
.imge{
    margin-left: 265px;
    justify-content: center;
}
#skills{
    background-color: rgb(218, 223, 228);
}
.skills{
    
    margin: auto;
    text-align: center;
}
.mg img{
    width: 1000px;
    margin-left: 100px;
    height: 400px;
}
#projects{
    background-color: rgb(43, 228, 43);
}
.project{
    text-align: center;
    margin: auto;
    padding: 18px;
}
.forms{
    margin-left: 260px;
}
.btn3{
    padding: 3px 14px;
}
.map{
    margin: auto;
    text-align: center;
}
.mapp img{
    width: 1210px;
    
    height: 300px;
    
}
#footer{
    background-color: rgb(43, 228, 43);
    height: 300px;
    display: flex;
    
}
.logo img{
    padding: 10px 10px;
    height: 100px;
    width: 150px;
}
.para{
    text-align: center;
    margin-right: 900px;
    color: aliceblue;
    font-size: 0.91rem;
}
.serv{
    text-align: center;
    width: 240px;
    margin-left: 430px;
    margin-top: -240px;
    
}
.useful{
    text-align: center;
    width: 240px;
    margin-left: 730px;
    margin-top: -250px;
    
}